body {
  font-size: 16px;
  background-color:white;
  font-family:  sans-serif;
}

/** HEADER **/
#header-nav {
  
  background-color:gray;
  border-radius: 0;
  border: 0;
  padding-bottom: 15px;
  
 
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.navbar-brand h1 { /* Restaurant name */
  
  font-size: 2em;
  color: black;

  margin-top: 5px;
  margin-bottom: 0;
 
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -25px;

  /*clear: both;*/
}




#nav-list {
  margin-top: 10px;
  background-color: white;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}



/* END HEADER */


.info{
  width: 100%;
  background-color: gray;
  margin: 15px 0 15px 0;
  margin-right: auto;
  margin-left: auto;
}





